
<article class="post col-md-4 col-sm-6 col-xs-12">
              <div class="post-inner">
                  <figure class="post-thumb">
                    <div class="item">
                      <%= link_to feed_feed_entry_path(@feed.id, feed.id) do %>
                        <% if feed.feed_entry_images.any? %>
                          <%= image_tag(feed.feed_entry_images.first.img_url, :size => "400x300", :class => "img-responsive") %>
                        <% else %>
                          <%= image_tag("meow.jpg", :size => "400x300", :class => "img-responsive") %>
                        <% end %>
                      <% end %>
                    </div>
                </figure>
            <div class="content">
                <h3 class="post-title"><%= link_to feed.title, feed_feed_entry_path(@feed.id, feed.id) %></h3>
                  <div class="post-entry">
                    <% if feed.summary.blank? %>
                      <p><%= strip_tags(feed.feed_entry_content).truncate(300) %></p>
                    <% else %>
                      <p><%= strip_tags(feed.summary).truncate(300) %></p>
                    <% end %>
                </div>
                <div class="meta">
                    <ul class="meta-list list-inline">
                      <li class="post-time post_date date updated">created <%= time_ago_in_words(feed.published) %> ago in <%= link_to @feed.feed_name, feed_path(@feed.id) %> by <%= feed.author %></li>
                  </ul><!--//meta-list-->
                </div><!--meta-->
            </div><!--//content-->
        </div><!--//post-inner-->
        </article>
