<div id="blue">
		<div class="container">
		<div class="row">
			<h3><%= @feed.feed_name %>
		  	<% if current_user.admin? %>
				<% if params[:newest].present? %>
				<div class="pull-right">
					<%= link_to 'newest first', category_feed_feed_entries_path(@category, @feed.friendly_id, :newest => true), :class=>"btn btn-primary" %>
				</div>
				<% else %>
				<div class="pull-right">
					<%= link_to 'popular first', category_feed_feed_entries_path(@category, @feed.friendly_id), :class=>"btn btn-primary" %>
				</div>
				<% end %>
				<% end %>
			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>


<% if @feed_entries.any? %>

<div class="blog container">
   <div id="pins" class="blog-list">
						<%= render @feed_entries %>
   </div>
  <div id="infinite-scrolling">
		<%= will_paginate @feed_entries %>
  </div>
</div>

<br><br><br><br><br><br>

<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
