<div class="body-padding">
<%= content_for :page_title do %>

 | <%= (@feed.feed_name).downcase %>

<% end %>


<% if @feed_entries.any? %>

   <div class="quizzle-card-container mdl-grid">
     <% @feed_entries.each do |feed_entries| %>
       <% cache feed_entries do %>
         <%= render feed_entries %>
       <% end %>
     <% end %>
   </div>
  <div id="infinite-scrolling">
		<%= will_paginate @feed_entries %>
  </div>


<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
</div>
