<div id="blue">
		<div class="container">
		<div class="row">
			<h3>
				<%= @feed_entry.title %>
				<div class="pull-right">
	 				<%= link_to 'origional article', @feed_entry.feed_entry_url, :class=>"btn btn-primary", :target => "_blank" %>
	      </div>
			</h3>
			<h5>Posted: <%= time_ago_in_words(@feed_entry.published) %> ago
					<% if @feed_entry.author? %>
	     		| By:	<%= @feed_entry.author %>
					<% end %>
						 | In: <%= link_to @feed_entry.feed.feed_name, feed_feed_entries_path(@feed_entry.feed.id) %></h5>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->


<div class="container mtb">
 <div class="row">

	 <! -- SINGLE POST -->
	 <div class="col-lg-8">


  <% if @feed_entry.summary.blank? %>
    <p><%= @feed_entry.feed_entry_content.html_safe %></p>
  <% else %>

	<p>
	<% if @feed_entry.feed_entry_images.any? %>
		<%= image_tag(@feed_entry.feed_entry_images.first.img_url, :size => "400x300", :class => "img-responsive") %>
	<% else %>
		<%= image_tag("folder.png", :size => "400x300", :class => "img-responsive") %>
	<% end %>
</p>

<br>
    <p><%= strip_tags(@feed_entry.summary) %></p>
  <% end %>


</div><! --/col-lg-8 -->

<! -- SIDEBAR -->
<div class="col-lg-4">

<h4>Social</h4>
<div class="hline"></div>
<br>
<div class="feed_entry">
<% if current_user.likes?(@feed_entry) %>
	<%= button_to "unlike", unlike_path(feed_entry: @feed_entry), remote: true, method: :get , :class => 'btn btn-primary btn-sm' %>
<% else %>
	<%= button_to "like", like_path(feed_entry: @feed_entry), remote: true, method: :get , :class => 'btn btn-primary btn-sm' %>
<% end %>
</div>
<br>

				<h4>Recent Posts</h4>
			<div class="hline"></div>
				<ul class="popular-posts">
					<% @recent_feed.each do |recent_feed| %>
						<li>
								<%= image_tag(recent_feed.feed_entry_images.first.img_url, :size => "100x100", :class => "img-responsive") rescue nil %>
								<p><a href="#"><%= link_to recent_feed.title, feed_feed_entry_path(@feed.id, recent_feed.id) %></a></p>
								<em>Posted on <%= time_ago_in_words(recent_feed.published) %></em>
						</li>
					<% end %>
					</ul>


	</div><! --/row -->
 </div><! --/container -->
