<div id="blue">
		<div class="container">
		<div class="row">
			<h3>
				<%= @feed_entry.title %>
				<div class="pull-right">
	 				<%= link_to 'origional article', @feed_entry.feed_entry_url, :class=>"btn btn-primary", :target => "_blank" %>
	      </div>
			</h3>
			<h5>Posted: <%= time_ago_in_words(@feed_entry.published) %> ago
					<% if @feed_entry.author? %>
	     		| By:	<%= @feed_entry.author %>
					<% end %>
						 | In: <%= link_to @feed_entry.feed.feed_name, feed_feed_entries_path(@feed_entry.feed.id) %></h5>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->


<div class="container mtb">
 <div class="row">

	 <! -- SINGLE POST -->
	 <div class="col-lg-8">
		 <p>
			 <% if @feed_entry.feed_entry_images.any? %>
				 <%= image_tag(@feed_entry.feed_entry_images.first.img_url, :size => "400x300", :class => "img-responsive") %>
			 <% else %>
				 <%= image_tag("folder.png", :size => "400x300", :class => "img-responsive") %>
			 <% end %>
		 </p>

  <% if @feed_entry.summary.blank? %>
    <p><%= strip_tags(@feed_entry.feed_entry_content) %></p>
  <% else %>
    <p><%= strip_tags(@feed_entry.summary) %></p>
  <% end %>


<div class="spacing"></div>
<h6>SHARE:</h6>
<div class="social__container">
	<div class="social__item">
            <a target="_blank" href="http://twitter.com/home?status=<%= @feed_entry.title %>+<%= @feed_entry.feed_entry_url %>" class="social__icon--twitter"><i class="icon--twitter"></i></a>
  </div>

	<div class="social__item">
             <a target="_blank" href="https://plus.google.com/share?url=<%= @feed_entry.feed_entry_url %>" class="social__icon--googleplus"><i class="icon--googleplus"></i></a>
  </div>

	<div class="social__item">
             <a target="_blank" href="http://www.facebook.com/share.php?u=<%= @feed_entry.feed_entry_url %>&title=<%= @feed_entry.title %>" class="social__icon--facebook"><i class="icon--facebook"></i></a>
  </div>

</div>


</div><! --/col-lg-8 -->

<! -- SIDEBAR -->
		<div class="col-lg-4">
				<h4>Recent Posts</h4>
			<div class="hline"></div>
				<ul class="popular-posts">
					<% @recent_feed.each do |recent_feed| %>
						<li>
								<%= image_tag(recent_feed.feed_entry_images.first.img_url, :size => "100x100", :class => "img-responsive") rescue nil %>
								<p><a href="#"><%= link_to recent_feed.title, feed_feed_entry_path(@feed.id, recent_feed.id) %></a></p>
								<em>Posted on <%= time_ago_in_words(recent_feed.published) %></em>
						</li>
					<% end %>
					</ul>

			<div class="spacing"></div>

			<h4>Popular Tags</h4>
			<div class="hline"></div>
				<p>
								<a class="btn btn-theme" href="#" role="button">Design</a>
								<a class="btn btn-theme" href="#" role="button">Wordpress</a>
								<a class="btn btn-theme" href="#" role="button">Flat</a>
								<a class="btn btn-theme" href="#" role="button">Modern</a>
								<a class="btn btn-theme" href="#" role="button">Wallpaper</a>
								<a class="btn btn-theme" href="#" role="button">HTML5</a>
								<a class="btn btn-theme" href="#" role="button">Pre-processor</a>
								<a class="btn btn-theme" href="#" role="button">Developer</a>
								<a class="btn btn-theme" href="#" role="button">Windows</a>
								<a class="btn btn-theme" href="#" role="button">Phothosop</a>
								<a class="btn btn-theme" href="#" role="button">UX</a>
								<a class="btn btn-theme" href="#" role="button">Interface</a>
								<a class="btn btn-theme" href="#" role="button">UI</a>
								<a class="btn btn-theme" href="#" role="button">Blog</a>
				</p>
		</div>
	</div><! --/row -->
 </div><! --/container -->
