<div class="feed-entry-ribbon"></div>
<main class="feed-entry-main mdl-layout__content">
        <div class="feed-entry-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="feed-entry-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h3><%= @feed_entry.title %></h3>
						<h6>Posted: <%= time_ago_in_words(@feed_entry.published) %> ago
					<% if @feed_entry.author? %>
	     		| By:	<%= @feed_entry.author %>
					<% end %>
						 | In: <%= link_to @feed_entry.feed.feed_name, category_feed_feed_entries_path(@category, @feed_entry.feed.id) %></h6>
          <p>
						<% if @feed_entry.summary.blank? %>
						<div class="feed_entry_container">
    <p><%= @feed_entry.feed_entry_content.html_safe %></p>

  	<% else %>

    <p><%= strip_tags(@feed_entry.summary) %></p>
  <% end %>
</div>
          </p>
          </div>
        </div>
</main>
