<h3 class="page-header"><%= @feed_entry.title %>
	 <div class="pull-right">
		<%= link_to 'back', feed_feed_entries_path, :class=>"btn btn-primary" %>
   </div>
</h3>


<p>
  <strong>Feed entry url:</strong>
  <%= @feed_entry.feed_entry_url %>
</p>

<p>
  <strong>Published:</strong>
  <%= @feed_entry.published %>
</p>

<p>
  <strong>Author:</strong>
  <%= @feed_entry.author %>
</p>

<p>
  <% if @feed_entry.summary.blank? %>
    <p><%= @feed_entry.feed_entry_content.html_safe %></p>
  <% else %>
    <p><%= @feed_entry.summary.html_safe %></p>
  <% end %>
</p>
