<%= content_for :page_title do %>

 | <%= (@user.nickname).downcase %>

<% end %>

<div class="container">

	<div id="post_content">
			<div class="media">
				 <a class="pull-left" href="#">
			   		 <%= gravatar_tag @user.email, :size => "150x150", :html => { :class => "img-circle" } %>
				 </a>
			</div>
	<br><br>
</div>


<% if @followed_feeds.any? %>

<div class="blog container">
   <div id="pins" class="blog-list">
			<% @followed_feeds.each do |feed| %>
				<%= render partial: "feeds/feed", locals: {feed: feed} %>
			<% end %>
   </div>


	<br><br><br><br><br><br>
</div>



<% else %>

 <%= render 'layouts/no_data' %>

<% end %>

</div>
