<div id="blue">
		<div class="container">
		<div class="row">
			<h3>turelo admin</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>

<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<h1 class="page-header">device</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>device:</strong>
  <%= @device.device_name %>
</p>

<p>
  <strong>device sdkVersion:</strong>
  <%= @device.sdkVersion %>
</p>

<p>
  <strong>device osVersion:</strong>
  <%= @device.osVersion %>
</p>

<p>
  <strong>device time zone:</strong>
  <%= @device.device_time_zone %>
</p>

</div>
</div>
</div>
