<%= content_for :page_title do %>

 | devices admin

<% end %>

<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<h1 class="page-header">device</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>device:</strong>
  <%= @device.device_name %>
</p>

<p>
  <strong>device sdkVersion:</strong>
  <%= @device.sdkVersion %>
</p>

<p>
  <strong>device osVersion:</strong>
  <%= @device.osVersion %>
</p>

<p>
  <strong>device time zone:</strong>
  <%= @device.device_time_zone %>
</p>

</div>
</div>
</div>
