<article class="post col-md-4 col-sm-6 col-xs-12">
              <div class="post-inner">
                  <figure class="post-thumb">
                    <div class="item">
                      <% if feed.feed_entry_images.last.img_url =~ /(twitter)|(hsdu).*/i %>
                        <%= image_tag("newspaper.png", :size => "400x300", :class => "img-responsive") %>
                      <% else %>
                        <%= image_tag(feed.feed_entry_images.last.img_url, :size => "400x300", :class => "img-responsive") rescue nil %>
                      <% end %>
                    </div>
                </figure>
            <div class="content">
                <h3 class="post-title"><%= link_to feed.feed_name, feed_feed_entries_path(feed.friendly_id) %></h3>
                  <div class="post-entry">
                    <p>this feed has <%= feed.feed_entries_count %> entries & <%= feed.followers_count %> followers</p>
                  </div>
                <div class="meta">
                    <ul class="meta-list list-inline">
                      <li class="post-time post_date date updated">Updated <%= time_ago_in_words(feed.feed_entries.last.published) rescue nil %> ago</li>
                    </ul><!--//meta-list-->
                    <div class="feed-<%= feed.id %>">
                    <% if current_user.follows?(feed) %>
                      <%= button_to "unfollow", unfollow_path(feed: feed) , remote: true, method: :get , :class => 'btn btn-primary btn-sm' %>
                    <% else %>
                      <%= button_to "follow", follow_path(feed: feed) , remote: true, method: :get , :class => 'btn btn-primary btn-sm' %>
                    <% end %>
                    </div>
                </div><!--meta-->
            </div><!--//content-->
        </div><!--//post-inner-->
        </article>
