<%= content_for :page_title do %>

 | <%= (@category.category_name).downcase %>

<% end %>

<% if @feeds.any? %>

<div class="quizzle-card-container mdl-grid">
					<% @feeds.each do |feed| %>
						<% cache feed do %>
							<%= render feed %>
						<% end %>
					<% end %>
</div>


<div id="infinite-scrolling">
	<%= will_paginate @feeds %>
</div>

<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
