<div id="blue">
		<div class="container">
		<div class="row">
			<h3>all feeds</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->


<div class="row">
	<div class="col-lg-3">
	</div>
<div class="col-lg-6">
<div id="custom-search-input">
	<%= form_tag feeds_path, method: :get do %>
		<div class="input-group col-md-12">
<%= text_field_tag :search, params[:query], class: "form-control input-lg", :placeholder => "search for feeds", id: "feeds_typeahead" %>
	<span class="input-group-btn">
		<%= button_tag(html: {class: "btn btn-default"}) do %>
			<i class="icon ion-ios-search nav-icon"></i>
		<% end %>
	</span>
<% end %>
		</div>



</div>
</div>
</div>

<% if @feeds.any? %>

<br><br>
<div class="blog container">

		<div class="row">
				<div id="blog-mansonry" class="blog-list">
						<%= render @feeds %>
        </div>
    </div>

<div class="text-center">
	<%= will_paginate @feeds %>
</div>
</div>

<br><br><br><br><br><br>

<% else %>

 <%= render 'layouts/no_data' %>

<% end %>

<div class="modal fade" id="new_feed_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">add new feed</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'form', modal: true %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
