<br><br><br>
<div class="container">
  <div class="omb_login">
    	<h2 class="text-center">sign up</h2>
      <h3 class="text-center">i mean, if you feel like it</h3><br><br>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


<br>
      <div class="row omb_row-sm-offset-3">
		<div class="col-xs-12 col-sm-6">
		 <form class="omb_loginForm" action="" autocomplete="off" method="POST">
		    <div class="input-group">
		 	<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
		    <%= f.email_field :email, class: "input-lg", hide_label: :true, placeholder:  "email address", required: true %>
		    </div>
		    <span class="help-block"></span>
		    <div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
      			<%= f.text_field :nickname, class: "input-lg", hide_label: :true, placeholder:  "nickname", required: true %>
      		</div>
      		<span class="help-block"></span>
      	    <div class="input-group">
      	    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      		<%= f.password_field :password, class: "input-lg", hide_label: :true, placeholder:  "password", required: true %>
      		</div>
      		<span class="help-block"></span>
      		<div class="input-group">
      	    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      		<%= f.password_field :password_confirmation, class: "input-lg", hide_label: :true, placeholder:  "password confirmation", required: true %>
      		</div>
      		<span class="help-block"></span><br>
      		<span class="help-block text-center">by clicking sign up, you agree to our terms and that you have read our data use policy, including our cookie use.</span>
          <br>
          <%= f.button "sign up", class: "btn btn-lg btn-primary btn-block" %>

          </form>
           </div>
      </div>
   <% end %>
  </div>
</div>
<br>
