<li class="notification">
    <div class="media">
      <a class="pull-left" href="#">
 				<%= image_tag '50x50.png', :class => "media-object img-circle" %>
 	   </a>
      <div class="media-body">
        <strong class="notification-title"><a href="#"><%= notification.actor.nickname %></a> unfollowed <%= link_to Feed.find(notification.notifiable_id).feed_name, category_feed_path(Feed.find(notification.notifiable_id).friendly_id, Feed.find(notification.notifiable_id).id) %></strong>
        <div class="notification-meta">
          <p class="notification-desc">
            <%= strip_tags(Feed.find(notification.notifiable_id).description) %>
          </p>
          <small class="timestamp"><br>
            <% if notification.created_at > Time.now.beginning_of_day %>
               <%="#{time_ago_in_words(notification.created_att)} ago"%>
            <% else %>
               <%= notification.created_at.strftime("%b %d, %Y") %>
            <% end %>
          </small>
        </div>
      </div>
    </div>
</li>
