<div id="blue">
		<div class="container">
		<div class="row">
			<h3>home feed
				<% if params[:tag].present? %>
				|	<%= params[:tag] %>
				<% end %>

				<li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
		 		<a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			 <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
		 </a>
		 <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">

		 </div>
	 </li>

			<% if current_user.admin? %>
			<% if params[:newest].present? %>
			<div class="pull-right">
				<%= link_to 'newest first', overviews_path(:newest => true), :class=>"btn btn-primary" %>
			</div>
			<% else %>
			<div class="pull-right">
				<%= link_to 'popular first', overviews_path, :class=>"btn btn-primary" %>
			</div>
			<% end %>
			<% end %>
			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br>


<% if @feed_entries.any? %>

<div class="blog container">
   <div id="pins" class="blog-list">
			<%= render @feed_entries %>
   </div>

  <div id="infinite-scrolling">
		<%= will_paginate @feed_entries %>
  </div>

	<br><br><br><br><br><br>
</div>



<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
