<div id="blue">
		<div class="container">
		<div class="row">
			<h3>home feed
				<% if params[:tag].present? %>
				|	<%= params[:tag] %>
				<% end %>

<div class="pull-right">
	<div class="btn-group dropdown dropdown-notifications sw-open">
	  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    <i data-count="<%=@notifications.count%>" class="glyphicon glyphicon-bell notification-icon"></i>
	    <span class="caret"></span>
	  </button>

	  <div class="dropdown-container dropdown-position-bottomright">
	   <div class="dropdown-toolbar">
	      <div class="dropdown-toolbar-actions">
						<a href="#">Mark all as read</a>
	      </div>
	      <h3 class="dropdown-toolbar-title black">Recent Notifications (<%= @notifications.count %>)</h3>
	    </div><!-- /dropdown-toolbar -->

	    <ul class="dropdown-menu notifications">
				<% @notifications.each do |notification| %>
						<%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
				<% end %>
	    </ul>
			<div class="dropdown-footer text-center">
					<%= link_to 'View All', notifications_path  %>
			</div><!-- /dropdown-footer -->
	  </div>
	</div>
</div>

			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br>


<% if @feed_entries.any? %>

<div id="notifications">
</div>

<div class="blog container">
   <div id="pins" class="blog-list">
			<%= render @feed_entries %>
   </div>

  <div id="infinite-scrolling">
		<%= will_paginate @feed_entries %>
  </div>

	<br><br><br><br><br><br>
</div>



<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
