<%= content_for :page_title do %>

 | turelo admin

<% end %>

<br><br>

<div class="quizzle-card-container mdl-grid">

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-card-stat mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <%= @feed_count %>
    </h2>
  </div>
    <div class="mdl-card__supporting-text">
      <p>number of feeds</p>
    </div>
  </div>

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-card-stat mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <%= @feed_entry_count %>
    </h2>
  </div>
    <div class="mdl-card__supporting-text">
      <p>number of feed entries</p>
    </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-card-stat mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <%= @user_count %>
    </h2>
  </div>
    <div class="mdl-card__supporting-text">
      <p>number of users</p>
    </div>
  </div>
</div>

<br>

<div class="mdl-grid center-items">
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
 <tr>
  <th>username or email</th>
  <th>Joined</th>
  <th>Visits</th>
  <th>Most Recent / IP</th>
  <th colspan="3">Actions</th>
 </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  	<%= render partial: 'table_row', locals: {user: user} %>
  <% end %>
</tbody>
</table>
<div class="text-center">
	<%= will_paginate @users %>
</div>
</div>
<br><br><br><br>
