<div id="blue">
		<div class="container">
		<div class="row">
			<h3>
				<%= current_user.nickname %>'s notifications | <%= @notifications.count %> unread notifications
        <div class="pull-right">
         <%= link_to 'clear all notifications', new_turelo_admin_feed_path, :remote => true, :class=>"btn btn-primary" %>
        </div>
			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->

<% if @notifications.any? %>

<div class="container">
<div id="my-entries">
  <% @notifications.each do |notification| %>
        <%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
  <% end %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @notifications %>
</div>

<br><br><br><br><br><br>
</div>


<% else %>

<%= render 'layouts/no_data' %>

<% end %>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
