<%= simple_form_for(@feed, :url => admin_feeds_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :feed_url %>
  </div>

  <%= f.hidden_field :user_id %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
