<%= simple_form_for(@feed, :url => admin_feeds_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :feed_url, "Feed URL" %><br />
    <%= f.input :feed_url, label: false %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.input :tag_list, label: false %>
  </div>

  <%= f.hidden_field :user_id %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
