<h1>all the users admin</h1>

<br><br>

<table class="table table-bordered">
<thead>
 <tr>
  <th>Email</th>
  <th>Joined</th>
  <th>Visits</th>
  <th>Most Recent</th>
  <th colspan="2">Actions</th>
 </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, user %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.sign_in_count if user.sign_in_count %></td>
      <td><%= user.last_sign_in_at.to_date if user.last_sign_in_at %></td>
      <td>
      	  <%= form_for(user) do |f| %>
    	  <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
   		  <%= f.submit 'Change Role', :class => 'btn btn-primary btn-sm' %>
  		  <% end %>
  	  </td>
  	  <td>
  	    <%= link_to 'Edit', edit_user_path(user), { :class=>"btn btn-primary" } %>
  	    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger') unless user == current_user %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate @users, :renderer => BootstrapPagination::Rails  %>
