<%= form_for(@category, :url => turelo_admin_categories_path) do |f| %>

<h4 class="mdl-dialog__title">Add new category</h4>
<div class="mdl-dialog__content">
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :category_name, class: 'mdl-textfield__input' %>
  </div>
    <%= f.text_field :category_description %>
    <%= f.label :category_image_url %><br>
    <%= f.file_field :category_image_url %>
</div>
<div class="mdl-dialog__actions">
    <%= f.button :submit, :class=>"mdl-button" %>
</div>
<% end %>
