<tr>
       <td> <%= link_to category.category_name, turelo_admin_category_path(category) %></td>
      <td> <%= category.category_description %></td>
       <td><%= category.created_at.strftime("%d %b. %Y") %></td>
       <td><%= link_to 'edit', edit_turelo_admin_category_path(category), { :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" } %>
       <%= link_to 'destroy', turelo_admin_category_path(category), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button', method: :delete, data: { confirm: 'are you sure?' } %></td>
</tr>
