<div class="container vertical-center">
<div class="omb_login">
<h3 class="omb_authTitle">login or <%= link_to "sign up", new_user_registration_path %></h3>
<div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-4 col-sm-2">
        <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-block omb_btn-facebook" %>
          <i class="fa fa-facebook visible-xs"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-twitter-na" data-toggle="tooltip" data-placement="top" title="Coming soon!">
          <i class="fa fa-twitter visible-xs"></i>
          <span class="hidden-xs">Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <%= link_to "Google+", user_google_oauth2_omniauth_authorize_path, class: "btn btn-lg btn-block omb_btn-google" %>
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
</div>

<div class="row omb_row-sm-offset-3 omb_loginOr">
  <div class="col-xs-12 col-sm-6">
    <hr class="omb_hrOr">
    <span class="omb_spanOr">or</span>
  </div>
</div>



<div class="container">
      <div class="omb_login">
        <div class="row omb_row-sm-offset-3">
    			<div class="col-md-6">
  <%= form_for(resource, as: resource_name, :url => session_path(resource_name), :html => { role: 'form'}) do |f| %>
    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <div class="controls">
        <%= f.text_field :login, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'email or password' %>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <%= f.password_field :password, :value => '', class: 'form-control input-lg', placeholder: 'password' %>
      </div>
    </div><br>
    <div class="actions">
      <%= f.button 'login', :class => 'btn btn-lg btn-primary btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing in..."} %>
    </div>
  <% end %>

  <br>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
</div>
