<div class="card">
  <% if category.category_image_url? %>
    <%= link_to image_tag(category.category_image_url, class: 'card-img-top'), category_feeds_path(category) %>
  <% else %>
    <%= link_to image_tag("newspaper.png", class: 'card-img-top'), category_feeds_path(category) %>
  <% end %>
<div class="card-body">
  <h4 class="card-title"><%= category.category_name %></h4>
  <p class="card-text"><%= category.category_description %></p>
  <%= link_to 'view category', category_feeds_path(category.friendly_id), class: 'btn btn-primary' %>
</div>
</div>