<!DOCTYPE html>
<html>
<head>
  <title>turelo</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>

  <div id="wrap">
      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <%= link_to 'turelo', overviews_path, :class=>"navbar-brand" %>
        </div>
        <% if user_signed_in? %>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><%= link_to 'timeline', overviews_path %></li>
            <li><%= link_to 'feeds', feeds_path %></li>
            <% if user_signed_in? and current_user.admin? %>
              <li><%= link_to 'admin', admin_feeds_path %></li>
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false">profile <b class="caret"></b></a>
              <ul class="dropdown-menu arrow">
         	   	 <li><%= link_to 'profile', users_profile_path(current_user) %></li>
       		     <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
        <% end %>
      </div>
    </div>

  <div class="message in" id="flash">
      <%= flash_messages %>
  </div>

	 <%= yield %>


</div>


   <!-- *****************************************************************************************************************
 	 FOOTER
 	 ***************************************************************************************************************** -->
 	 <div id="footerwrap" class="footer">
 	 	<div class="container">
 		 	<div class="row">
        <div class="col-lg-2">
        </div>
 		 		<div class="col-lg-4">
 		 			<h4>About</h4>
 		 			<div class="hline-w"></div>
 		 			<p>look rss is still a thing, all I wanted was a fast, basic rss reader - couldn't find one so I made it</p>
 		 		</div>
 		 		<div class="col-lg-4">
 		 			<h4>Social Links</h4>
 		 			<div class="hline-w"></div>
 		 			<p>
 		 				<a href="#"><i class="fa fa-facebook"></i></a>
 		 				<a href="#"><i class="fa fa-twitter"></i></a>
 		 			</p>
 		 		</div>
        <div class="col-lg-2">
        </div>


 		 	</div><! --/row -->
 	 	</div><! --/container -->
 	 </div><! --/footerwrap -->


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.1.0/jquery.infinitescroll.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').remove();
      }, 1000);
    });
    </script>

</body>
</html>
