<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>turelo - simple, fast, rss</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Introducing Lollipop, a sweet new take on quizzle.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<!-- Page styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-deep_purple.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="google-site-verification" content="8gNheUW89iRh88p3CbuVqXrLWA9fAvBn1-IwcwO6O8k" />
</head>
<body>
<% if user_signed_in? %>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        turelo <%= yield(:page_title) %>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <%= link_to 'timeline', overviews_path, class: "mdl-navigation__link mdl-typography" %>
        <%= link_to 'feeds', categories_path, class: "mdl-navigation__link mdl-typography" %>
        <button class="quizzle-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
          <li class="mdl-menu__item"><%= link_to 'profile', users_profile_path(current_user) %></li>
          <li class="mdl-menu__item"><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <% end %>

     <%= flash_messages %>

     <%= render 'layouts/google_analytics' %>

      <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
        <%= div_for announcement do %>
          <%= announcement.message %>
          <%= link_to "hide announcement", hide_announcement_path(announcement) %>
        <% end %>
      <% end %>

      <%= yield %>

</div>

  <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

</body>
</html>
