<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>turelo - simple, fast, rss</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="google-site-verification" content="8gNheUW89iRh88p3CbuVqXrLWA9fAvBn1-IwcwO6O8k" />
</head>
<body>
<header>
  <div id="wrap">
    <span class="toggle-button">
      <div class="menu-bar menu-bar-top"></div>
      <div class="menu-bar menu-bar-middle"></div>
      <div class="menu-bar menu-bar-bottom"></div>
   </span>
      <!-- Fixed navbar -->

  </div>
  <div class="menu-wrap">
  <div class="menu-sidebar">
    <ul class="menu">
      <li><%= link_to 'timeline', overviews_path %></li>
      <li class="menu-item-has-children"><a href="#">your feeds</a>
        <span class="sidebar-menu-arrow"></span>
          <ul class="sub-menu">
            <li><a href="#">Alignment</a></li>
            <li><a href="#">Markup</a></li>
            <li><a href="#">Comments</a></li>
          </ul>
      </li>
      <li><%= link_to 'discover', categories_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'admins', turelo_admin_admins_path %></li>
      <% end %>
      <li><%= link_to 'profile', users_profile_path(current_user) %></li>
      <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
  </header>



  <div class="message in" id="flash">
      <%= flash_messages %>
       <%= render 'layouts/google_analytics' %>
  </div>

  <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
    <%= div_for announcement do %>
      <%= announcement.message %>
      <%= link_to "hide announcement", hide_announcement_path(announcement) %>
    <% end %>
  <% end %>

	 <%= yield %>


</div>


</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" rel="tooltip" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
