<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>turelo - simple, fast, rss</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="google-site-verification" content="8gNheUW89iRh88p3CbuVqXrLWA9fAvBn1-IwcwO6O8k" />
</head>
<body>

  <!-- Fixed navbar -->
 <div class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       </button>
       <%= link_to 'turelo', overviews_path, :class=>"navbar-brand" %>
     </div>

     <% if user_signed_in? %>
     <div class="navbar-collapse collapse navbar-right">
       <ul class="nav navbar-nav">
         <li><%= link_to 'timeline', overviews_path %></li>
         <li><%= link_to 'feeds', categories_path %></li>
         <% if current_user.admin? %>
           <li><%= link_to 'admins', turelo_admin_admins_path %></li>

            <li class="dropdown dropdown-notifications">
              <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
                <i data-count="<%=@notifications.count%>" class="glyphicon glyphicon-bell notification-icon"></i>
              </a>

         	  <div class="dropdown-container dropdown-position-bottomright">
         	   <div class="dropdown-toolbar">
         	      <div class="dropdown-toolbar-actions">
         						<a href="#">Mark all as read</a>
         	      </div>
         	      <h3 class="dropdown-toolbar-title black">Recent Notifications (<%= @notifications.count %>)</h3>
         	    </div><!-- /dropdown-toolbar -->

         	    <ul class="dropdown-menu notifications">
         				<% @notifications.each do |notification| %>
         						<%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
         				<% end %>
         	    </ul>
         			<div class="dropdown-footer text-center">
         					<%= link_to 'View All', notifications_path  %>
         			</div><!-- /dropdown-footer -->
         	  </div>
          </li>
         <% end %>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">profile <b class="caret"></b></a>
           <ul class="dropdown-menu arrow">
            <li><%= link_to 'profile', users_profile_path(current_user) %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
           </ul>
         </li>
       </ul>

     </div><!--/.nav-collapse -->
<% end %>
   </div>
 </div>

  <div class="message in" id="flash">
      <%= flash_messages %>
  </div>

 <%= render 'layouts/google_analytics' %>

  <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
    <%= div_for announcement do %>
      <%= announcement.message %>
      <%= link_to "hide announcement", hide_announcement_path(announcement) %>
    <% end %>
  <% end %>

<div class="body-padding">
	 <%= yield %>

</div>


<a id="back-to-top" href="#" class="btn btn-primary back-to-top" rel="tooltip" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $("div.navbar-fixed-top").autoHidingNavbar();
  </script>

</body>
</html>
