<!DOCTYPE html>
<html>
<head>
  <title>turelo</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="LD1MCjSYx4QXRYVTZlxByNiM8QUExh09A97BC21wuso" />
</head>
<body>

  <body>


    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'turelo', root_path, :class=>"navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to 'home', root_path %></li>
            <li><%= link_to 'sign in', overviews_path %></li>
            <li><%= link_to 'sign up', new_user_registration_path, :class=>"btn btn-primary" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<%= yield %>



  <div id="footerwrap">
   <div class="container">
     <div class="row">
       <div class="col-lg-2">
       </div>
       <div class="col-lg-4">
         <h4>About</h4>
         <div class="hline-w"></div>
         <p>look rss is still a thing, all I wanted was a fast, basic rss reader - couldn't find one so I made it</p>
       </div>
       <div class="col-lg-4">
         <h4>Social Links</h4>
         <div class="hline-w"></div>
         <p>
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
         </p>
       </div>
       <div class="col-lg-2">
       </div>


     </div><! --/row -->
   </div><! --/container -->
  </div><! --/footerwrap -->


  </body>
</html>
